name: Build HellSpawnOS

on:
  push:
    branches: [ main ]
    paths:
      - "src/**"
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Cache compiler
      id: cache-cross
      uses: actions/cache@v3
      with:
        path: $HOME/opt/cross
        key: cross-i386-elf-v1
    - name: Clone repo
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential bison flex libgmp-dev libmpc-dev libmpfr-dev texinfo qemu-system-x86 nasm

    - name: Build i386-elf cross-compiler
      if: steps.cache-cross.outputs.cache-hit != 'true'
      run: |
        mkdir -p $HOME/src
        cd $HOME/src
        wget https://ftp.gnu.org/gnu/binutils/binutils-2.40.tar.xz
        tar -xf binutils-2.40.tar.xz
        mkdir build-binutils
        cd build-binutils
        ../binutils-2.40/configure --target=i386-elf --prefix=$HOME/opt/cross --with-sysroot --disable-nls --disable-werror
        make -j$(nproc)
        make install

        cd $HOME/src
        wget https://ftp.gnu.org/gnu/gcc/gcc-13.1.0/gcc-13.1.0.tar.xz
        tar -xf gcc-13.1.0.tar.xz
        mkdir build-gcc
        cd build-gcc
        ../gcc-13.1.0/configure --target=i386-elf --prefix=$HOME/opt/cross --disable-nls --enable-languages=c --without-headers
        make all-gcc -j$(nproc)
        make all-target-libgcc -j$(nproc)
        make install-gcc
        make install-target-libgcc

    - name: Add i386-elf-gcc to PATH
      run: echo "$HOME/opt/cross/bin" >> $GITHUB_PATH

    - name: Build kernel
      run: make
    - name: Upload OS build
      uses: actions/upload-artifact@v4
      with:
        name: HellSpawnOS-build
        path: |
          build/kernel.bin
          build/bootloader.bin
          build/os.img
